<div class="row">
    <div class="col-md-3"><ul>
    <li><a routerLink="/select" routerLinkActive="active">Select</a></li>
    <li><a routerLink="/struct" routerLinkActive="active">structural</a></li>
    <li><a routerLink="/tforms" routerLinkActive="active">template forms</a></li>
    <li><a routerLink="/rforms" routerLinkActive="active">reactive forms</a></li>
    <li><a routerLink="/dynamic" routerLinkActive="active">Dynamic components</a></li>
    <li><a routerLink="/sanitize" routerLinkActive="active">HTML Sanitize</a></li>    
</ul>
    </div>
<div class="col-md-9"><router-outlet></router-outlet></div>
</div>
